table {
  padding-top: 30px;
}

thead th {
  background-color: rgb(245, 245, 245);
  color: black;
}

tbody tr:nth-child(odd){
    background-color: rgb(253, 253, 253);
    color: black;
}
  
tbody tr:nth-child(even){
    background-color: whitesmoke;
    color: black;
}